<div class="" id="top">
  <h1>YeJin_site</h1>
  <h4>Welcome</h4>
  <!-- <div id="buttonOption">
    <button class="btn btn-primary btn-lg" type="button" routerLink="/register">
      Register
    </button>
    &nbsp;
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
  </div> -->
</div>
<div class="container">
  <div class="card border-primary mb-3" style="width: 15rem">
    <div class="card-body">
      <h5 class="card-title text-center">Express</h5>
      <p class="card-text">
        Node.js를 위한 빠르고 개방적인 간결한 웹 프레임워크
      </p>
      <a href="https://expressjs.com/" class="btn btn-primary" id="linkButton"
        >Express link</a
      >
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card border-success mb-3" style="width: 15rem">
    <div class="card-body">
      <h5 class="card-title text-center">MongoDB</h5>
      <p class="card-text">크로스 플랫폼 도큐먼트 지향 데이터베이스 시스템</p>
      <a
        href=" https://www.mongodb.com/"
        class="btn btn-success"
        id="linkButton"
        >MongoDB link</a
      >
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card border-danger mb-3" style="width: 15rem">
    <div class="card-body">
      <h5 class="card-title text-center">Angular</h5>
      <p class="card-text">타입스크립트 기반 웹 애플리케이션 프레임워크</p>
      <a href=" https://angular.io/" class="btn btn-danger" id="linkButton"
        >Angular link</a
      >
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card border-warning mb-3" style="width: 15rem">
    <div class="card-body">
      <h5 class="card-title text-center">Ionic</h5>
      <p class="card-text">자바스크립트 기반 모바일 웹앱 개발 프레임워크</p>
      <a
        href=" https://ionicframework.com/"
        class="btn btn-warning"
        id="linkButton"
        >Ionic link</a
      >
    </div>
  </div>
</div>
<hr />
&nbsp;
<div id="me">
  &nbsp;
  <h2>"Introduce"</h2>
  &nbsp;
  <h5>이름 : 장예진</h5>
  &nbsp;
  <h6>생년월일 : 1999.03.02</h6>
  &nbsp;
  <h6>학과 : 정보보호학과</h6>
  &nbsp;
  <h6>이메일 : vhdekddl3@naver.com</h6>
  &nbsp;
  <div id="team">
    <h2>'TeamProject'</h2>
    &nbsp;
    <h5>팀명 : 최종장박봉</h5>
    &nbsp;
    <h6>Reserve</h6>
    &nbsp;
    <h6>QR코드를 이용한 통합형 예약시스템</h6>
    &nbsp;&nbsp;
  </div>
</div>
&nbsp; &nbsp;
<p>Copyright©2021 YeJin All rights reserved.</p>
