<br />
<div *ngIf="name">
  <h2 class="page-header">사용자 이름: {{ name }}</h2>
  <br />
  <form>
    <div class="form-group">
      <label>UserInfo</label>
      <textarea class="form-control" id="userinfo" rows="1" disabled>
 {{ userString }} </textarea
      >
    </div>
    <div class="form-group">
      <label>Token</label>
      <textarea class="form-control" id="token" rows="4" disabled>
 {{ token }} </textarea
      >
    </div>
    <div class="form-group">
      <label for="privateKey">Private Key</label>
      <textarea class="form-control" id="privateKey" rows="7" disabled>{{
        privateKey
      }}</textarea>
    </div>
    <div class="form-group">
      <label for="cert">Certificate </label>
      <textarea class="form-control" id="cert" rows="7" disabled>{{
        cert
      }}</textarea>
    </div>
    <div class="form-group">
      <label for="caCert">CA Certificate </label>
      <textarea class="form-control" id="caCert" rows="7" disabled>{{
        caCert
      }}</textarea>
    </div>
  </form>
</div>
