<br />
<h2 class="page-header">인증서 발급 (Certificate Request) - {{ common }}</h2>
<br />
<form (ngSubmit)="onCertRequest()" id="formInput">
  <div class="mb-3">
    <label class="form-label"> 이름(Common Name) </label>
    <input
      type="text"
      [(ngModel)]="common"
      name="common"
      class="form-control"
      disabled
    />
  </div>
  <div class="mb-3">
    <label class="form-label"> 부서(Organizational Unit Name) </label>
    <input
      type="text"
      [(ngModel)]="orgUnit"
      name="orgUnit"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label class="form-label"> 기관(Organization Name) </label>
    <input
      type="text"
      [(ngModel)]="organization"
      name="organization"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label class="form-label"> 도시(Locality Name) </label>
    <input
      type="text"
      [(ngModel)]="locality"
      name="locality"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label class="form-label"> 시도명(State or Province Name) </label>
    <input type="text" [(ngModel)]="state" name="state" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label"> 국가(Country) - KR for Korea </label>
    <input
      type="text"
      [(ngModel)]="country"
      name="country"
      class="form-control"
    />
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="keySize"
      [(ngModel)]="keySize"
      id="exampleRadios1"
      value="512"
    />
    <label class="form-check-label" for="exampleRadios1"> 512 bits </label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="keySize"
      [(ngModel)]="keySize"
      id="exampleRadios2"
      value="1024"
      checked
    />
    <label class="form-check-label" for="exampleRadios2"> 1024 bits </label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="keySize"
      [(ngModel)]="keySize"
      id="exampleRadios3"
      value="2048"
    />
    <label class="form-check-label" for="exampleRadios3"> 2048 bits </label>
  </div>
  <br /><br />
  <input
    type="submit"
    class="btn btn-dark"
    value="인증서 발급 요청하기"
    id="subminB"
  />
</form>
